TOKEN_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL= 

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_ENTITIES_DIR=
DATABASE_MIGRATIONS_DIR=
DATABABASE_CLI_MIGRATIONS_DIR=

VONAGE_API_SECRET=
VONAGE_API_KEY=
VONAGE_APPLICATION_ID=
VONAGE_PRIVATE_KEY_PATH=

HOST_SENDMAIL=
USER_SENDMAIL=
PORT_SENDMAIL=
CLIENT_ID=
CLIENT_SECRET=
REFRESH_TOKEN=